body, html {
	margin: 0px;
	height: 100%;
	padding: 0;
}
@font-face {
	font-family: Coolvetica; 
	src: url(Fontes/Coolvetica/coolvetica_rg_it.woff);
}
.imagem1, .imagem2, .imagem3, .imagem4, .imagem5, .imagem6, .preto {
	background-image: url(Imagens/preto.png);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.imagem1 {
	background-image: url(Imagens/fundo1.png);
}
.imagem2 {
	background-image: url(Imagens/fundo2.png);
}
.imagem3 {
	background-image: url(Imagens/fundo3.png);
}
.imagem4 {
	background-image: url(Imagens/fundo4.png);
}
.mensagem{
	word-wrap: break-word;
	background: rgba(255, 255, 255, 0);
	position: absolute;
	right: 40%;
	top: 40%;
	width: 20%;
	text-align: center;
	font-family: Coolvetica;
	font-size: 2em;
	color: white;
}
.titulo {
	text-align: center;
	font-family: Coolvetica;
	font-size: 2em;
	color: black;
	background-color: white;
	text-align: center;
	padding: 50px 80px;
}
.conteudo1, .conteudo2, .conteudo3, .conteudo4{
	word-wrap: break-word;
	background: rgba(255, 255, 255, 0);
	position: relative;
	text-align: center;
	font-family: Coolvetica;
	font-size: 2em;
	color: white;
	left: 10%;
	top: 30%;
	width: 30%;
}